
/**** For all main htmls ****/

hr {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

body {
	background-color: #E4E4E4;
}

p {
	font: 20px;
	font-family: Verdana;
}

p.warning {
	color:red;
}


#header {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 13%;
	font: 60px "Trebuchet MS", "Copperplate", Verdana, serif; 


	font-weight: 100;
	color: #FFFFFF;
	background-color: #AAAAAA; 
	
	letter-spacing: 0.02em;
}

/****************************/








/**** status.html ****/

#menu input{
	width: 24.5%;
	background: #444;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 15px;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #4488CC;
    cursor: pointer;
}

#menu input:hover {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	width: 24.5%;
	background: #6688CC;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 15px;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #4488CC;
    cursor: pointer;
}


#menu form {
	display: inline-block;
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

select {

	overflow: hidden;
	/* background: url('down_arrow.png') no-repeat right #ddd; */
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;

    text-indent: 0.01px;
    text-overflow: '';
    width: 15%;
    height: 35px;
    line-height: 25px;
    margin-right: 15px;
    font-size: 18px;
}

form label {
	font-size: 20px;
	margin-right: 4px;
}

.button {
	background: #6688CC;
    padding: 5px 13px 5px 13px;
    color: #FFF;
    font-size: 15px;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #4488CC;
    cursor: pointer;
}

.button:hover {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	background: #E27575;
}

/*
label[for=machine] {
	;
} 

label[for=process] {
	;
}

label[for=sort] {
	;
}


label[for=count] {
    ;
}

*/

#filter p {
	font-size: 40px;
}

#killer p {
	font-size: 40px;
}

#killer input[type='text'] {
	appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 15%;
    height: 35px;
    line-height: 25px;
    margin-right: 15px;
    font-size: 18px;
}

#killer input[type='text']:hover {
	appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 15%;
    height: 35px;
    line-height: 25px;
    margin-right: 15px;
    font-size: 18px;
}

table {
	border-collapse: collapse;
	border: solid;
	border-bottom: 5px;
    border-spacing: 0;
    font: normal 20px Arial, sans-serif;
    width: 40%;
    margin-bottom: 50px;
}

td {
	padding: 10px;
}

tr td.title {
	background-color: #CCEEEE;
}

tr td.title {
	background-color: #CCEEEE;
}

tr:hover {
	background-color: #EEEECC;
}

/*********************/



/**** settings.html ****/


/***********************/





/**** change_password.html ****/
input[type='text'], input[type='password']{
	border: 2px solid #DADADA;
    color: #888;
    height: 35px;
    position: relative;
    top: -5px;
    filter:alpha(opacity=80);  
    -moz-opacity: 0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;
    /* 
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    */
    outline: 0 none;
    padding: 5px 1px 3px 5px; 
    width: 15%;
    font: 12px Arial, sans-serif;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

#chpw h2 {
	margin-left: 30px;
}

#chpw label {
	display: inline-block;
	width: 150px;
	text-align: right;
}

#chpw input[type='submit'] {
	display: inline-block;
	margin-left: 150px;
}

/*****************************/






