html {
	background-color: #E4E4E4;
	margin: 0;
	padding: 0;
}

hr {
    padding: 0;
    margin: 0;
    border-style: none;
    border-width: 1px;
}

div hr {
    padding: 0;
    margin: 0;
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 0.7;
}

body {
    background-image: url("img/Foggy_Forest.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    background-position: -10px -30px;

	font: 25px Monaco, sans-serif;
	line-height: 1.88889;
	color: #555753; 

	margin: 0;
	padding: 0;
}

label {
    color: #444;
	display: inline-block;
	text-align: right;
	width: 180px;
}

span {
    display: inline-block;
	vertical-align: middle;
	line-height: 150%;
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 230px;
    margin-top: -115px;
    margin-left: -225px;
    color: #444;
	padding: 22px;
	border-style: solid;
	border-width: 2px;
    background: rgba(255, 255, 255, 0.4);
    _position: absolute;
}

div span {
    color: #444;
    position: relative;
    top: 10px;
	left: 15px;
	font-size: 15px;
    line-height: 100%;
}

.warning {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 30px;
    margin-top: -155px;
    margin-left: -225px;
    color: #EE0000;
    font: 20px Monaco, serif; 
    font-weight: 10;
    border-color: #444;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px;
    border-style: solid;
    border-width: 2px;
    background: rgba(255, 255, 255, 0.4);
    _position: absolute;
}

.complementary {
	display:inline-block;
}

#header {
    filter:alpha(opacity=60);  
    -moz-opacity: 0.6;  
    -khtml-opacity: 0.6;  
    opacity: 0.6;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: auto;
	font: 60px Cambria, Verdana, serif; 

	font-weight: 100;
	color: #FFF;
    background-color: #000;

	letter-spacing: 0.02em;
}

#header:hover {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #AAA;
}

span .button {
    color: #FFF;
    font: 10px Monaco, sans-serif;
	background: #5050DD;
    padding: 5px 13px 5px 13px;
    border-radius: 5px;
    margin-left: -2px;
    margin-top: -1px;
    box-shadow: 1px 1px 5px #888;
    text-shadow: 1px 1px 1px #4488CC;
    cursor: pointer;
}

.button {
	background: #5050DD;
    padding: 6px 25px 6px 25px;
    color: #FFF;
    font: 17px Monaco, sans-serif;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #4488CC;
    cursor: pointer;
}

.button:hover {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	background-color: #E26565; 
	box-shadow: 0px 0px 0px;
    position: relative;
    top: 1px;
    left: 1px;
	/* background-color: #5588CC; */
}

input[type='text'], input[type='password']{
	border: 2px solid #888888;
    color: #777;
    height: 35px;
    position: relative;
    top: -5px;
    left: 1px;
    /* 
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    */
    outline: 0 none;
    padding: 5px 1px 3px 5px; 
    width: 50%;
    font: 13px Arial, sans-serif;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

/* Basic Grey 
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}
*/


